---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

const posts = (await getCollection('blog')).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayout>
	<section class="hero is-primary">
		<div class="hero-body">
			<p class="title">
			The offical Samland blog.
			</p>
			<p class="subtitle">
			Stay updated about recent events and government informantion.
			</p>
		</div>
	</section>
	<section class="section">
		<ul>
			{
				posts.map((post) => (
					<li>
						<hr>
						<a href={`/blog/${post.slug}/`}>
							<div class="columns">
								<div class="column">
									<h1 class="title">{post.data.title}</h1>
									<h2 class="subtitle">
										<FormattedDate date={post.data.pubDate}/> -
										{post.data.description}
									</h2>
								</div>
								<div class="column">
									<img width="60%" height="60%" src={post.data.heroImage} alt=""/>
								</div>
							</div>
						</a>
						<hr>
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>
