---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.scss';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description} image={heroImage}>
	<section class="hero is-primary">
		<div class="hero-body">
			{heroImage && <img src={heroImage} alt=""/>}
			<p class="title">
			{title}
			</p>
			<p class="subtitle">
				<FormattedDate date={pubDate}/> -
				{
					updatedDate && (
						<div>
							Last updated on <FormattedDate date={updatedDate}/> -
						</div>
					)
				}
				{description}
			</p>
		</div>
	</section>
	<section class="section">
		<section class="content">
			<slot/>
		</section>
	</section>
</BaseLayout>
