---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import '../styles/global.scss';

type Props = CollectionEntry<'guides'>['data'];

const { title, links, breadcrumbs} = Astro.props;
---

<BaseLayout title={title} description={title}>
	<section class="hero is-primary">
		<div class="hero-body">
			<h1 class="title">
			{title}
			</h1>
		</div>
	</section>
	<section class="section">
		<nav class="breadcrumb" aria-label="breadcrumbs">
			<ul>
				<!-- <li><a href="#">Bulma</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Components</a></li>
				<li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li> -->
				{
					breadcrumbs.map((breadcrumb) => (
					  <li class={breadcrumb.href ? '' : 'is-active'}>
						{breadcrumb.href ? (
						  <a href={breadcrumb.href}>{breadcrumb.text}</a>
						) : (
							<a href="#" aria-current="page">{breadcrumb.text}</a>
						)}
					  </li>
					))
				  }
				  
			</ul>
		</nav>
		<div class="columns">
		{links ? 
			<section class="column is-two-thirds content">
				<slot/>
			</section>
			<div class="column"></div>
			<div class="column is-three-quarters">
				<h1 class="title">References</h1>
				<ol>
					{
						links.map((link) => (
							<li>
								<a href={`/${link.href}/`}>
									{link.text}
								</a>
							</li>
						))
					}
				</ol>
			</div>
			: 
			<section class="section">
				<section class="content">
					<slot/>
				</section>
			</section>
		}
		</div>
	</section>
</BaseLayout>
